@font-face {
  font-family: Inter;
  src: url(/assets/Fonts/Inter-Black.ttf);
  src: url(/assets/Fonts/Inter-Bold.ttf);
  src: url(/assets/Fonts/Inter-ExtraBold.ttf);
  src: url(/assets/Fonts/Inter-ExtraLight.ttf);
  src: url(/assets/Fonts/Inter-Light.ttf);
  src: url(/assets/Fonts/Inter-Medium.ttf);
  src: url(/assets/Fonts/Inter-Regular.ttf);
  src: url(/assets/Fonts/Inter-SemiBold.ttf);
  src: url(/assets/Fonts/Inter-Thin.ttf);
}
/* hover effect button*/
.blue-button-hover:hover {
  background: #28508d;
  transition: 1s;
}
.white-button-hover:hover {
  background: rgb(190, 189, 189);
  transition: 1s;
}
.navbar-item-right-none:hover {
  color: #1a75ff;
  transition: 1s;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Inter;
  font-weight: 450;
}
.center {
  text-align: center;
}
.font-color-gray {
  color: #344051 !important;
}
.font-color-common {
  color: #002966;
}
/* navbar */

.navbar-item {
  list-style-type: none;
  float: left;
  padding: 12px 16px;
  cursor: pointer;
  padding-top: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 24px;
  color: #344051;
}
.navbar {
  padding: auto;
  margin: auto;
  padding-left: 30px;
  padding-right: 30px;
}
.navbar-item-right {
  float: right;
}
.nav-button {
  padding: 10px 20px;
  background: #1a75ff;
  border-radius: 12px;
  width: 66px;
  height: 20px;
  font-size: 13px;
  line-height: 20px;
  color: white;
  margin-top: 10px;
}
.img-logo {
  height: 40px;
  width: 36px;
  margin-top: -12px;
}
.fa-bars {
  border: 1px solid black;
  padding: 5px;
  border-radius: 8px;
}
.navbar::after {
  content: "";
  clear: both;
  display: table;
}

/* section-2 */
.section-2 {
  padding: 30px;
}
.underline {
  border-bottom: 6px solid #1a75ff;
}
.section-2-left {
  width: 49.99%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-2-right {
  width: 49.99%;
}
.left-text-big {
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
  font-size: 3rem;
  margin-top: 0;
}
.left-main {
  padding: 47px;
  margin: 0;
}
.right-main {
  padding: 34px 34px 34px 47px;
  position: relative;
}
.img-girl {
  width: 500px;
  height: 700px;
}
.img-card {
  position: absolute;
  top: 67%;
  right: 36%;
}
.row {
  display: flex;
}
.learn-more-btn {
  padding: 10px 20px;
  background: #1a75ff;
  display: inline-block;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 47px;
  color: white;
}
.watch-demo-btn {
  padding: 10px 12px;
  border: 1px solid #ced2da;
  display: inline-block;
  cursor: pointer;
  border-radius: 15px;
  color: #344051;
}
.small-girl-img {
  height: auto;
  width: 100%;
}
.two-btn {
  display: inline;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* section 3 */
.feature-text {
  color: #1a75ff;
  padding: 10px 12px;
  background-color: #f0f6ff;
  display: inline-block;
  border-radius: 5px;
  font-size: 14px;
}
.our-features {
  margin-bottom: 30px;
}
.section-3 {
  text-align: center;
}
.key-font {
  font-style: normal;
  font-weight: 600;
  font-size: 2.25rem;
  margin: 0;
  margin-bottom: 25px;
}

/* section-4 */
.right-arrow {
  background: #f0f6ff;
  border-radius: 12px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 40px;
  height: 40px;
}
.first-line-4 {
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
.section-4-left {
  width: 49.99%;
  color: #002966;
}
.section-4-right {
  width: 49.99%;
}
.section-4-item {
  margin-bottom: 30px;
}
.gallery-img {
  margin-bottom: 20px;
}
.img-gallery {
  flex-direction: column;
  padding-right: 12px;
}
.image-container-4 {
  display: flex;
}

/* section-5 */
.saas-main-div {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}
.saas-heading {
  font-style: normal;
  font-weight: 600;
  font-size: 2.25rem;
  color: #141c24;
  padding: 0;
  margin: 0;
}
.second-line-saas {
  font-weight: 500;
  font-size: 1.125rem;
  color: #344051;
  margin: 0;
  padding: 0;
}
.right-arrow2 {
  background: #f0f6ff;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 25px;
  height: 25px;
  color: #344051;
  margin-right: 5px;
  padding: 2px;
}
.three-topic {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 12px;
  margin-bottom: 20px;
}
.three-topic-parant {
  display: flex;
  padding: 13px;
  align-items: center;
}
.get-started-btn {
  background: #1a75ff;
  border-radius: 8px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 8px;
  display: inline-block;
  color: white;
  margin-right: 20px;
}
.Watch-demo-btn-saas {
  padding: 10px 20px;
  cursor: pointer;
  color: #344051;
  border: 1px solid #ced2da;
  border-radius: 8px;
}
.section-5-saas-btn-main {
  flex-direction: row;
  display: flex;
  justify-content: center;
}

/* section-6 */
.main-section-6 {
  margin-top: 70px;
  margin-bottom: 70px;
}
.sec-6-first-line {
  font-size: 2.25rem;
  text-align: center;
  padding: 0;
  margin: 0;
}
.section-6-title-question-main {
  margin-top: 30px;
}
.question-indivisual {
  display: flex;
  text-align: center;
  width: 50%;
  margin: auto;
  justify-content: space-between;
  border: 1px solid black;
  padding: 18px;
  border-radius: 8px;
  align-items: center;
}
.question-indivisual-new-main {
  border: 1px solid black;
  padding: 18px;
  border-radius: 8px;
  width: 50%;
  justify-content: center;
  margin: auto;
}
.question-indivisual-new {
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin: auto;
  text-align: center;
  margin-bottom: 23px;
}
.left {
  float: left;
}
.right {
  float: right;
}
.section-6-card-main {
  margin: auto;
  text-align: center;
  margin-top: 30px;
  background: #f0f6ff;
  width: 527px;
  height: 173px;
  align-items: center;
  padding: 14px;
  border-radius: 20px;
}
.card-first-line {
  font-size: 1.25rem;
}
.card-btn {
  border-radius: 8px;
  border: none;
  background: #1a75ff;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
}
.inbox-img {
  padding-right: 9px;
  width: 15px;
  height: 11px;
}

/* section 7 three card */
.section-7-three-card-main {
  margin-top: 30px;
  margin-bottom: 25px;
  padding-left: 30px;
  padding-right: 30px;
}
.blog-btn {
  background: #f0f6ff;
  color: #0052cc;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  width: 46px;
  height: 20px;
  margin: auto;
  border-radius: 150px;
}
.blog-page-title {
  font-weight: 600;
  font-size: 2.25rem;
  margin: 0;
}
.profile-card-main {
  width: 384px;
  height: 475px;
}
.three-card-main {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.profile-card-img {
  width: 384px;
  height: 213px;
}
.avtar-name {
  font-size: 14px;
  margin: 0;
}
.avtar-name1 {
  font-size: 12px;
  padding: 0;
  margin: 0;
}
.avtar {
  display: flex;
  padding: 14px 0;
}
.avtar-text {
  flex-direction: column;
  padding-left: 10px;
}
.font-size-24 {
  font-size: 1.5rem;
  padding: 14px 0;
}
.three-btn {
  padding: 14px 0;
  display: flex;
}
.blog-btn-3 {
  background: #f0f6ff;
  color: #0052cc;
  text-align: center;
  margin-right: 3px;
  font-weight: 500;
  font-size: 14px;
  width: auto;
  height: auto;
  border-radius: 150px;
  padding: 5px 6px;
  cursor: pointer;
}
.blog-btn-green {
  background: #e6f9ff;
  color: #0099cc;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  width: auto;
  height: auto;
  border-radius: 150px;
  padding: 5px 6px;
  margin-right: 3px;
  cursor: pointer;
}
.blog-btn-gray {
  background: #f2f4f7;
  color: #0099cc;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  width: auto;
  height: auto;
  border-radius: 150px;
  padding: 5px 6px;
  cursor: pointer;
}
.load-more-btn {
  color: white;
  background: #1a75ff;
  padding: 12px 24px;
  border-radius: 8px;
  display: flex;
  margin-top: 20px !important;
  text-align: center;
  width: 82px;
  justify-content: center;
  margin: auto;
  cursor: pointer;
}

/* section 8 form main */
.main-email {
  padding: 30px;
}
.form-text-first {
  color: #002966;
  font-size: 2.25rem;
  font-weight: 600;
}
.form-main {
  padding: 30px;
  background-color: #f0f6ff !important;
  border-radius: 32px;
  width: 90%;
  margin: auto;
  background: url(/assets/Images/gradient-image.png) no-repeat right;
}
input[type="text"] {
  border: none;
  outline: none;
  padding: 10px 70px 10px 12px;
  border-radius: 8px;
}
.subscribe-btn {
  background: #1a75ff;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  margin-left: 10px;
}
.form-input-btn {
  display: flex;
  cursor: pointer;
  margin-top: 35px;
}
/* section 9 our-client */
.our-client-main {
  padding: 30px;
}
.client-list {
  margin-top: 10px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-bottom: 10px;
  cursor: pointer;
}
.left-client,
.right-client {
  width: 50%;
  text-align: center;
}
.client-img-main {
  padding: 20px;
  font-size: 1.563rem;
  text-align: center;
}
.client-img {
  width: 20px;
  height: 20px;
  padding-right: 5px;
}

/* footer section */
.footer-list-item-new {
  align-items: center;
  display: flex;
}
.footer-img-icon {
  padding-right: 10px;
}
.footer-main-header {
  font-size: 1.125rem;
  font-weight: 600;
  align-items: center;
  display: flex;
}
.main-logo-footer {
  padding-right: 10px;
  padding: 10px;
}
.footer-list-header {
  font-weight: 600;
  font-size: 1.125rem;
}
.footer-list-item {
  padding: 10px;
  cursor: pointer;
}
.footer-main {
  display: flex;
  padding: 30px;
}
.second-div-footer-main {
  display: flex;
}
.horizontal-rule {
  height: 1px;
  width: 100%;
  background: #e4e7ec;
  margin-top: 10px;
  margin-bottom: 10px;
}
.authorship-details {
  padding: 30px;
  display: flex;
  justify-content: space-between;
}
.border-right {
  border-right: 1px solid #ced2da;
  padding-left: 12px;
  margin-right: 12px;
}
.font-color-blue {
  color: #1a75ff;
}
/*  responsive */
@media screen and (max-width: 600px) {
  /* navbar  */
  .navbar-item-right-none {
    display: none;
  }
  .navbar {
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #344051;
  }
  .nav-button {
    padding: 10px 12px;
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  .navbar-small-left {
    display: flex;
  }
  .navbar-small {
    display: flex;
    align-items: center;
  }
  .img-logo {
    height: 29px;
    width: 25px;
    margin-top: -4px;
  }
  .fa-solid {
    padding-top: 0;
    padding: 10px;
  }
  /* secti.on-2 */
  .row {
    flex-direction: column;
  }
  .section-2-left {
    width: 100%;
  }
  .section-2-right {
    width: 100%;
  }
  .img-girl {
    display: none;
  }
  .two-btn {
    padding-left: -1px;
    padding-right: 23px;
    display: block;
    text-align: center;
  }
  .img-card {
    display: none;
  }
  .small-screen-img {
    display: block;
  }
  .left-main {
    padding: 24px;
    margin: 0;
  }
  .right-main {
    padding: 24px;
  }
  .learn-more-btn {
    width: 100%;
    margin-top: 2px;
    text-align: center;
    padding: 10px 20px;
  }
  .watch-demo-btn {
    width: 100%;
    text-align: center;
    margin-top: 11px;
  }
  .section2-p {
    font-size: 1.125rem;
  }
  /* section 4 */
  .section-4-right {
    width: 100%;
    flex-direction: column;
  }
  .section-4-left {
    width: 100%;
    flex-direction: column;
  }
  .big-image {
    height: 202px;
    width: 147px;
  }
  .small-image {
    height: 110px;
    width: 147px;
  }

  /* section 5- saas topic */
  .three-topic {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 15px;
  }
  .section-5-saas-btn-main {
    flex-direction: column;
    text-align: center;
  }
  .get-started-btn {
    margin-bottom: 10px;
    margin-top: 20px;
    padding-right: -34px;
    margin-right: 19px;
    margin-left: 15px;
  }
  .three-topic-parant {
    text-align: center;
    /* justify-content: center; */
    display: flex;
    margin: auto;
  }
  .saas-heading {
    line-height: 49px;
  }
  .section-6-card-main {
    width: auto;
    margin: 27px;
    height: auto;
  }

  /* section-7 three card */
  .three-card-main {
    flex-direction: column;
  }
  .profile-card-img {
    width: 100%;
    height: auto;
  }
  .profile-card-main {
    width: 100%;
    height: auto;
  }
  .form-input-btn {
    display: block;
  }
  .input-btn {
    margin-bottom: 10px !important;
    margin-left: 9px;
    width: 71%;
  }
  /* section 9 our clients */
  .client-list {
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto;
    margin-bottom: 10px;
  }
  .client-img-main {
    padding: 20px;
    font-size: 1.563rem;
    text-align: center;
  }
  /* footer */
  .footer-main {
    display: flex;
    flex-direction: column;
  }
  .second-div-footer-main {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .first-div-footer {
    padding: 10px;
    width: 100%;
    text-align: center;
  }
  .footer-main-header {
    text-align: center;
    justify-content: center;
  }
  .footer-list-item-new {
    justify-content: center;
  }
  .authorship-details {
    flex-direction: column;
    padding: 10px;
    text-align: center;
  }
  .font-color-blue {
    text-align: center;
    margin-top: 11px;
  }
  .product-company {
    display: flex;
    justify-content: space-between;
  }
  .contact-us {
    text-align: start;
    padding-left: 15px;
  }
}
@media screen and (min-width: 900px) {
  .hamburger-menu {
    display: none;
  }
  .small-screen-img {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .img-girl {
    display: none;
  }
  .img-card {
    display: none;
  }
  .small-screen-img {
    display: block;
  }
  .navbar-item-right-none {
    display: none;
  }
  .navbar-small {
    display: flex;
    align-items: center;
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #344051;
  }
}
@media screen and (max-width: 900px) and (min-width: 550px) {
  .fa-solid {
    padding: 10px;
  }
  /* section 4 */

  .row {
    flex-direction: column;
  }
  .section-4-right {
    width: 100%;
    flex-direction: column;
  }
  .section-4-left {
    width: 100%;
    flex-direction: column;
  }
  .big-image {
    height: 332px;
    width: 280px;
  }
  .small-image {
    height: 198px;
    width: 280px;
  }
  .row {
    flex-direction: column;
  }
  .section-2-left {
    width: 100%;
  }
  .section-2-right {
    width: 100%;
  }
  /* sectionc 6 question */
  .question-indivisual {
    width: 90%;
  }
  .question-indivisual-new-main {
    width: 90%;
  }
  .image-container-4 {
    display: flex;
    padding: 103px;
  }
  /* section-7 three card */
  .three-card-main {
    flex-direction: column;
  }
  .profile-card-img {
    width: 100%;
    height: auto;
  }
  .profile-card-main {
    width: 100%;
    height: auto;
  }
  .main-email {
    padding: 0;
  }
  .form-main {
    width: 92%;
  }
  /* }section 9 our clients */
  .client-list {
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 10px;
  }
  .client-img-main {
    padding: 20px;
    font-size: 1.563rem;
    text-align: center;
  }
}
@media screen and (max-width: 550px) {
  .question-indivisual {
    width: 85%;
  }
  .question-indivisual-new-main {
    width: 85%;
  }

  /* section-7 three card  */
  .three-card-main {
    flex-direction: column;
  }
  .profile-card-img {
    width: 100%;
    height: auto;
  }
  .profile-card-main {
    width: 100%;
    height: auto;
  }
  .our-features {
    text-align: justify;
    padding-left: 21px;
    padding-right: 24px;
    color: #344051;
  }
  .text-decoration-justify {
    text-align: justify;
  }
  .question-indivisual-new {
    text-align: inherit;
  }
  .question-indivisual {
    text-align: inherit;
  }
  /* img container */
  .image-container-4 {
    display: flex;
    padding: 27px;
  }
}
@media screen and (max-width: 450px) {
  .form-main {
    width: 80%;
  }
  .input-btn {
    width: 66%;
  }
  .main-email {
    width: 90%;
    left: 10px;
    padding: 0 0 0 13px;
  }
}
@media screen and (max-width: 300px) {
  .small-image {
    height: 69px;
    width: 100px;
  }
  .big-image {
    height: 120px;
    width: 100px;
  }
  .navbar {
    display: block;
  }
  .navbar-small-left {
    display: flex;
    justify-content: center;
  }
  .navbar-small {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 600px) {
  .product-company {
    display: block;
    display: flex;
    flex-direction: row;
  }
}
